%%-*- mode: erlang -*-
%%{sub_dirs, ["rel"]}.

%%{cover_enabled, true}.

{lib_dirs, ["deps"]}.

%% {erl_opts, [debug_info, fail_on_warning,
%%             {parse_transform, lager_transform}]}.

%% {erl_opts, [debug_info, fail_on_warning]}.

{erl_opts, [
  {src_dirs, ["./src"]}
]}.

{deps, [
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {uuid, ".*", {git, "git@github.com:binarytemple/erlang-uuid.git", {tag, "v0.5.0"}}},
  {lager, "(2.0|2.1|2.2).*", {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
  {recon, ".*", {git, "git://github.com/ferd/recon.git", {tag, "1.2.0"}}},
  {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "develop"}}}
]}.
